<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg);">
  <div class="container page-name">
    <h1 class="text-center">Credit</h1>
    <p class="lead text-center">Check your available credit and transaction histroy</p>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="form-group col-xs-12 col-sm-12">
        <h6>Title</h6>
        <%= text_field :amou, placeholder: 'Post title, e.g. Need help on cleaning garden.', class: 'form-control input-lg' %>
      </div>
      <div>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Deposit your credit"
              data-amount="<%= @amount %>"
              data-locale="auto"></script>
      </div>
    </div>
  </div>
</section>