
<%= render 'home/header' %>

<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
  <div class="container no-shadow">
    <h1 class="text-center">Confirm your email</h1>
    <p class="lead text-center">An email has been sent to your email, please check your email and confirm your link!</p>
    
  </div>
</header>
<br><br><br><br><br><br><br><br><br><br>
<main>
	</main>
<%= render 'home/footer' %>