<!-- Site footer -->
<footer class="site-footer">

  <!-- Top section -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">CSC444

          This is the project for CSC444 Software Engineering I.

          We are going to design a teenager web service website.

          This project is coded in Ruby.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Company</h6>
        <ul class="footer-links">
          <li><%=link_to 'About Us', home_aboutus_path%></li>
          <li><%=link_to 'Privacy Policy', home_privacypolicy_path%></li>
          <li><%=link_to 'Contact Us', home_contactus_path%></li>
        </ul>
      </div>

    </div>

    <hr>
  </div>
  <!-- END Top section -->

  <!-- Bottom section -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyrights &copy; 2017 All Rights Reserved by TeenBuddy</a>.</p>
      </div>

      <!--
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      -->
    </div>
  </div>
  <!-- END Bottom section -->

</footer>
<!-- END Site footer -->
