
<body class="nav-on-header smart-nav">

<!-- Navigation bar -->
<nav class="navbar">
  <div class="container">

    <!-- Logo -->
    <div class="pull-left">
      <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

      <div class="logo-wrapper">
        <a class="logo" href="index.html"><img src="/assets/img/logo.png" alt="logo"></a>
        <a class="logo-alt" href="index.html"><img src="/assets/img/logo-alt.png" alt="logo-alt"></a>
      </div>
    </div>
    <!-- END Logo -->

    <div class="pull-right">

      <div class="dropdown user-account">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
          <img src="/assets/img/logo-envato.png" alt="avatar">
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="user-login.html">Login</a></li>
          <li><a href="user-register.html">Register</a></li>
          <li><a href="user-forget-pass.html">Forget pass</a></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      </div>
    </div>
<!-- Navigation menu -->
    <ul class="nav-menu">
      <li>
        <%= link_to 'Posts' , posts_path%>
        <ul>
          <li><%= link_to 'View All Posts' , posts_path  %></li>
        </ul>
      </li>
      <
      <li>
        <a>About </a>
      </li>
      <li>
        <a>Contact Us </a>
      </li>
      <li>
        <a>My Account</a>
        <ul>
          <li><%= link_to 'Profile', current_user.teenager %></li>
          <li><a>Messages</a></li>
          <li><a>Credit</a></li>
        </ul>
      </li>

    </ul>
    <!-- END Navigation menu -->
  </div>
</nav>
<!-- END Site header -->
</body>