<header class="site-header size-lg text-center" style="background-image: url(/assets/img/bg-banner2.jpg)">  
  <div class="container no-shadow">
    <h1 class="text-center">About us</h1>
    <p class="lead text-center">Keep reading this page to figure out how we got started and who is behind it!</p>
  </div>
</header>


<main>



  <!-- About -->
  <section>
    <div class="container">

      <h5>Who are we</h5>
      <p>We are a group of 6 students who is passionate about web design.</p>
      <br>
      <h5>What does TeenBuddy offer?</h5>

      <p>With a lagre number of registered teenagers and employers , TeenBuddy is CSC444's #1 wesite. We focus on creating instant and quality connections so teenagers can get jobs and employers can hire teenagers—in minutes. Since 2017, our mission has been to put teenagers in right fit-positions so they can maximize their potential and live more fulfilling lives. We do this through the TeenBuddy matching system. Our TeenBuddy service drive results for single-location operators to Fortune 500 businesses with thousands of locations, across the babysitting, tutoring, yard work and delivery industries.</p>
<br><br>
      <h1>
      <blockquote>
            <p>The most amazing team I have ever had in my entire career. Looking forward to work with them in the future .</p>
            <footer>Mr <cite title="Source Title">warzechi Thrawed</cite></footer>
          </blockquote>
        </h1>
    </div>
  </section>
  <!-- END About -->


  <!-- Team -->
  <section class="bg-alt">
    <div class="container">
      <header class="section-header">
        <span>Who we are</span>
        <h2>Our team</h2>
        <p>We are 6 engineering students from University of Toronto guided by Professor Michael Stumm.</p>
      </header>
      <div class="row equal-team-members">
        <!-- Team member -->

        <div class="col-xs-12 col-sm-6 col-md-4">

        </div>

        <!-- END Team member -->
        <!-- Team member -->

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="team-member">
            <h5>Michael Stumm <small>Supervisor</small></h5>
            <img src="/assets/img/michael.jpg" alt="avatar" width="100" height="100">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p>Professor at Univeristy of Toronto who is passonate at teaching</p>
          </div>
        </div>

        <!-- END Team member -->
      </div>
      <div class="row equal-team-members">

        <!-- Team member -->
        
        <!-- END Team member -->

        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="team-member">
            <h5>Wuqi Li <small>Team Member</small></h5>
            <img src="/assets/img/ian.png" alt="avatar" width="100" height="100">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p>Professional PUBG player, ranked 600th in NA server</p>
          </div>
        </div>
        <!-- END Team member -->

        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="team-member">
            <h5>Haoyuan Li <small>Team Member</small></h5>
            <img src="/assets/img/matt.jpg" alt="avatar" width="100" height="100">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p>I like eating chicken. </p>
          </div>
        </div>
        <!-- END Team member -->


        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="team-member">
            <h5>Ze Yang <small>Team Member</small></h5>
            <img src="/assets/img/kevin.jpeg" alt="avatar" width="100" height="100">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p>I love TeenBuddy !</p>
          </div>
        </div>
        <!-- END Team member -->

        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="team-member">
            <h5>Chengchen Yang <small>Team Member</small></h5>
            <img src="/assets/img/alphonse.jpeg" alt="avatar" width="100" height="100">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p>I have a dog and a hedgehog, they are really really really cute.</p>
          </div>
        </div>
        <!-- END Team member -->

        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="team-member">
            <h5>lan Shan <small>Team Member</small></h5>
            <img src="/assets/img/william.png" alt="avatar" width="100" height="100">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p>Professional angler and future billionaire XD.</p>
          </div>
        </div>
        <!-- END Team member -->

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="team-member">
            <h5>Xiao Yang <small>Team Member</small></h5>
            <img src="/assets/img/Bob.jpeg" alt="avatar" width="100" height="100">
            <ul class="social-icons">
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <p>I like eating fish. </p>
          </div>
        </div>

      </div>

    </div>
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
  </section>
  <!-- END Team -->



</main>
