


<header class="site-header size-lg text-center" style="background-image: url(/assets/img/bg-banner1.jpg)">
  <div class="container">
    <div class="col-xs-12">
      <br><br>
      <h1><strong>Welcome To TeenBuddy</strong></h1>
      <h2>We offer <mark><%=Post.all.length%></mark> jobs right now!</h2>
      <h2>We have <mark><%=Teenager.all.length%></mark> teenagers registered !</h2>
      <h3>Join us in just a few seconds!</h3>
    </div>

  </div>
</header>