<header class="site-header size-lg text-center" style="background-image: url(/assets/img/privacypolicy.jpg)">  
  <div class="container no-shadow">
    <h1 class="text-center">Privacy Policy</h1>
    <p class="lead text-center">Please read our privacy policy!</p>
  </div>
</header>
  <body class="nav-on-header smart-nav">
    <!-- Main container -->
    <main>

      <section>
        <div class="container">

          <h4>Introduction</h4>
          <p>By creating a profile or by submitting an application to an employer through our Website or App, you are expressly consenting to our use of your name, as well as your likeness, image, photo, video, voice, and appearance if you provide a photo or video, in connection with a jobseeker database that potential employers may browse. You may be contacted by third parties about jobs for which you did not apply. Additionally, by submitting an application to an employer through our Website or App, you are expressly consenting to our use of your name, as well as your likeness, image, video, voice, and appearance if you provide a video, in connection with your application and delivering your application to the particular employer. We do not submit your photo directly to an employer when you submit an application. However, it is possible for an employer to view your profile, including your photo, in our browsable database of jobseekers. If you do not want to be included in our jobseeker database, do not create a profile and do not submit an application using our Website or App. If you do not want your photo or video to be included in our jobseeker database, do not provide a photo or video in your profile or in connection with a job application..</p>

          <h4>Use of our service</h4>
           <p>The use of the webiste requires use of a pc and data service, which you must obtain from your carrier, and may require Internet access. You are responsible for obtaining and paying for such services, and TeenBuddy.com will not be liable for any costs or fees incurred by or through your use of the Website, including, but not limited to, any mobile carrier fees, any SMS, MMS or other text or multimedia message fees, or any payment provider fees.</p>

           <p> By using the App, you consent to receive, at your own cost, electronic communications from TeenBuddy.com about the website,   including, without limitation, via SMS, MMS and other text or multimedia messages, email, and by transmitting data to your mobile device such as through a push message. Such communications from TeenBuddy.com, Inc. may include, without limitation, administrative messages, service announcements, diagnostic data reports, and updates to the website itself. You consent to the transmission of data from TeenBuddy.com, Inc.</p>

           <h4>Third party log in </h4>
           <p>By registering for and/or accessing the Website or App through Facebook, you agree to be bound by these Terms of Use, without reservation. Specifically, you agree that any and all information and/or data submitted to us through the Facebook registration process is subject to these Terms of Use including, but not limited to, Section III (D) ("Your License to Us") below.</p>

           <p> By registering through Facebook, you agree to receive email job alerts from us. If you wish to unsubscribe from our email job alerts, you may do so at anytime by updating your settings options through your desktop profile.</p>
           <h3>Your rights and obligations </h3>
           <h4>Service Eligibility </h4>
           <p>To be eligible to use the Website, you represent and warrant that you: (1) are at least 12 years old; (2) are not currently restricted from the Website , or not otherwise prohibited from having an account with us, (3) are not a competitor of ours and are not using the Website or App for reasons that are in competition with us; (4) will only maintain one account with us at any given time (although you can delete an account and subsequently register for a new one, as long as you have only one active account at a time); (5) have full power and authority to enter into this agreement with us and to be bound by these Terms of Use and doing so will not violate any other agreement to which you are a party; (6) will not violate any rights of the Website or App, including intellectual property rights such as copyright or trademark rights; and (7) agree to provide at your cost all equipment, software, and internet access necessary to access and use the Website or App.</p>
           <h4>Registration </h4>
           <p> If you choose to create a profile on our Website or App or through Facebook social registration, you must complete an online registration form. You agree (1) to provide true, accurate, current and complete information about yourself as prompted by the Website's or App’s registration form, and (2) to maintain and promptly update the information you provide to us in order to keep your profile true, accurate, current and complete. If we have reasonable grounds to suspect that the information in your profile is untrue, inaccurate, not current or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of our Website or App (or any portion thereof) by you. Our use of any personally identifying information you provide to us as part of the registration process is governed by the terms of our Privacy Policy.</p>
           <h4>User name(Email) and password </h4>
           <p> o log onto our Website or App, you will need a user name and password which you will supply when you register to use our Website or App. You are responsible for maintaining the security and confidentiality of your user name and password, and all activities (whether by you or by others) with respect to the Website and/or App that occur under your user name or password. You are also liable for all charges, damages and losses incurred or suffered by you and/or by us as a result of your failure to maintain the confidentiality of your user name and password. We are not liable for any harm or loss caused by or related to the theft or disclosure of your user name and password, or your authorization to allow another person to access and use the Website or App with your user name and password. You agree to notify us immediately of any unauthorized use of your user name and password, the need to deactivate your user name and password due to security concerns, or any other breach of security. You must ensure that you log out of your account at the end of each session.</p>
           <h4>User to user commication </h4>
           <p> We offer various forums and blogs on our Website such as My Account where you can post your resume and communicate with other Members. Ideas you post and information you share may be seen and used by other Members and by Sponsors, and we cannot guarantee that other Members or Sponsors will not use the ideas and information that you share on our Website or App. Therefore, if you have an idea or information that you would like to keep confidential and/or don’t want others to use, or that is subject to third party rights that may be infringed by your sharing it, do not post it to our Website or App. WE ARE NOT RESPONSIBLE FOR A MEMBER’S OR SPONSOR’S MISUSE OR MISAPPROPRIATION OF ANY CONTENT OR INFORMATION YOU POST IN ANY COMMUNITY FORUMS ON OUR WEBSITE OR APP, INCLUDING, BUT NOT LIMITED TO, INFORMATION YOU POST IN “MY ACCOUNT.”</p>
           <h4>Peer to peer messaging </h4>
            <p> The peer to peer messaging functionality is not to be used for emergency communications, and may only be used for lawful and authorized purposes. You and any user added to your organization or location shall not use the messaging functionality to:
            upload, post, transmit, or otherwise make available anything that is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically, or otherwise objectionable;
            <p>harm minors in any way;
            impersonate any person or entity, including, but not limited to, a Snagajob employee, administrator, owner, or other member, or falsely state or otherwise misrepresent your affiliation with a person or entity;
            manipulate identifiers in order to disguise your or a user's identity;</p>

            <p>upload, post, transmit, or otherwise make available any of information that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</p>

            <p>upload, post, transmit or otherwise make available information in a manner that infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party;</p>

            <p>provide access to the communication functionality of the Service to any third party;
            upload, post, transmit, or otherwise make available any commercial offers, advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation</p>

            <p>upload, post, transmit, or otherwise make available any software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware;</p>

            <p>disrupt the normal flow of dialogue, or otherwise act in a manner that negatively affects other users' ability to engage in real time exchanges using the communication functionality of the Service;</p>  

            <p>interfere with or disrupt the communication functionality of the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service, including using any device or software;</p> 

            <p>modify, adapt, or hack the communication functionality of the Service, including by using any non-public Snagajob APIs, or otherwise attempt to gain unauthorized access to the Service or its related systems or networks.</p>

            <p>intentionally or unintentionally violate any applicable local, state, national or international law in connection with your use of the communication functionality of the Service, including, but not limited to, the Telephone Consumer Protection Act, 47 U.S.C. section 227, any data, privacy, or export control laws, or regulations promulgated by the U.S. Securities and Exchange Commission, any rules of any national or other securities exchange, including, without limitation, the New York Stock Exchange, the American Stock Exchange, or the NASDAQ, and any regulations having the force of law;</p> 

            <p>provide material support or resources (or to conceal or disguise the nature, location, source, or ownership of material support or resources) to any organization(s) designated by the United States government as a foreign terrorist organization pursuant to section 219 of the Immigration and Nationality Act;
            "stalk" or otherwise harass another; and/or
            collect or store personal data about other users in connection with any of the prohibited conduct and activities set forth above.</p>

        </div>
      </section>
    </main>
    <!-- END Main container -->

    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>


  </body>
</html>
